@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-500: #10b981;
  --color-emerald-800: #065f46;
  --color-emerald-900: #04471C; 
  --color-emerald-950: #022c22;

  --color-cream: #FDFBF7;
  --color-cream-dark: #f5f2ea;
  --color-gold: #D4AF37;
  --color-gold-light: #e5c558;
  --color-gold-dark: #b39225;

  --color-black: #1A1A1A;
  --color-gray-soft: #71717a;
}

body {
  background-color: var(--color-cream);
  color: var(--color-black);
}
